<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-6">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="" src="../assets/images/rasal.jpg" >
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="javascript:void(0);">Rasal Shukla</a>
                    </div>
                    <div class="desc">{{'Microsoft Certified Professional, Hippa Certified, Sql Server Certified' | translate}}</div>
                    <div class="desc">rasalshukla@gmail.com</div>
                </div>
                <div class="bottom">
                    <a class="btn btn-primary btn-twitter btn-sm" href="javascript:void(0);">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" rel="publisher"
                       href="javascript:void(0);">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="btn btn-primary btn-sm" rel="publisher"
                       href="javascript:void(0);">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-warning btn-sm" rel="publisher" href="javascript:void(0);">
                        <i class="fa fa-behance"></i>
                    </a>
                </div>
            </div>

        </div>

	</div>
</div>
