<div class="container">
   <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="panel panel-info" >
         <div class="panel-heading">
            <div class="panel-title">{{'Sign Up' | translate}}</div>
         </div>
         <div style="padding-top:30px" class="panel-body" >
            <form   class="form-horizontal" [formGroup]="form" role="form"  (ngSubmit)="register($event, user.name, user.email, user.password)" >
            <div style="margin-bottom: 14px" class="input-group">
               <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
               <input id="name" autocomplete="off" type="text" class="form-control validate"  [(ngModel)]="user.name" formControlName="name" placeholder="{{ 'Username' | translate}}" [class.invalid]="form.controls['name'].touched && !form.controls['name'].valid"  >
            </div>
            <label for="name" *ngIf="!form.controls['name'].valid && form.controls['name'].dirty" style="color:#a94442">{{'Name is required and needs to contain at least 10 chars' | translate}}</label> 
            
            <div style="margin-bottom: 14px" class="input-group">
               <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
               <input id="password" autocomplete="off" type="password" class="form-control validate" #password [(ngModel)]="user.password" formControlName="password" placeholder="{{ 'Password' | translate}}" [class.invalid]="form.controls['password'].touched && !form.controls['password'].valid"  >                                   
            </div>
            <label for="password" *ngIf="!form.controls['password'].valid && form.controls['password'].dirty" style="color:#a94442"> {{'Password is required and needs to contain at least 6 chars'| translate}}</label>            
            
            <div style="margin-bottom: 14px" class="input-group">
               <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
               <input id="email" type="text" autocomplete="off" class="form-control validate" [(ngModel)]="user.email" formControlName="email" placeholder="{{ 'Email' | translate}}" [class.invalid]="form.controls['email'].touched && !form.controls['email'].valid"  >                                   
            </div>
            <label for="email" *ngIf="!form.controls['email'].valid && form.controls['email'].dirty" style="color:#a94442"> {{'Email is required, email format is not valid'| translate}}</label>
            
            <div style="margin-top:10px" class="form-group">
               <!-- Button -->
               <div class="col-sm-12 controls">
                  <input class="btn btn-success" type="submit" [disabled]="!form.valid" title="{{'Sign Up'| translate}}"  value="{{'Sign Up'| translate}}">
                  <a   class="btn btn-danger" href = "#" routerLink="/login" title="{{'Back'| translate}}">{{'Back'| translate}}</a>
               </div>
            </div>
            </form>
         </div>
      </div>
   </div>
</div>